@keyframes leftIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    } to {
      transform: translateX(0);
      opacity: 1;
    }
}
  
.overlayDropdownMess {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1920px;
}

.dropDownMess {
  border-radius: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  z-index: 5;
  width: 400px;
  height: 90%;
  animation: leftIn 0.2s;
  box-shadow: 0px 2px 5px 2px var(--box-shadow-color);
}

.Text__Messengger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.Text__h2__Messengger{
    position: relative;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    color: var(--text-color);
    margin-left: 15px;
}

.info__Mess {
    height: 90%;
}

.list__Mess {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 400px;
    height: 90%;
    max-height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

.popupchat__form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    border-radius: var(--box-borderRadius-size);
    padding: 7px 20px;
    margin: 0 15px;
    margin-top: 10px;
}

.popupchat__form-input {
    color: var(--main-text);
    background-color: var(--bg-color);
    border: none;
    font-size: 14px;
    line-height: 22px;
    padding: 0 8px;
    width: 100%;
}

.popupchat__form-input::placeholder {
    font-size: 14px;
    color: var(--main-text);
}
  
/* ScrollBar */
.list__Mess::-webkit-scrollbar {
    width: 5px;
    background-color: var(zz);
}

.list__Mess::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
}

.list__Mess::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--primary-color);
}

.item__Mess {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 5px;
}
.item__Mess:hover {
  background-color: var(--bg-color);
  }

.avatar__Mess {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    max-width: 15%;
}

.area__Mess {
    margin-left: 10px;
    width: 85%;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.username__Mess {
    margin: 0;
    font-weight: 500;
}

.content__Mess {
    margin: 0;
    font-weight: 400;
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
} 

.time__Mess {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
} 

.btn {
    background-color: var(--main-color);
    border: none;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 4px;
    position: absolute;
    top: 25%;
    right: 0;
    width: 20%;
}

.popupchat__footer {
    border-top: 1px solid #ccc;
    padding: 2px 0;
    margin: 5px 0;
}

.popupchat__footer-title {
    margin: 4px 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    line-height: 18px;
}

.popupchat__footer-title:hover {
    text-decoration: underline;
    transition: all ease 0.25s;
}